<?xml version="1.0" encoding="UTF-8"?>  
<root>  
    <mydb driver="SQL Server Native Client 11.0" server="XXX" database="XXX" user="XXX" pwd="XXX">  
        <table name="FelixTest" />  
    </mydb>
    <connectionStrings>
	    <add name="EHR" connectionString="Data Source=10.0.3.6;Initial Catalog=quanxian;Persist Security Info=True;User ID=sa;Password=123.com" providerName="System.Data.SqlClient"/>
	    <add name="H3_V9" connectionString="Data Source=10.0.0.123;Initial Catalog=H3_V9;Persist Security Info=True;User ID=sa;Password=h3p@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
</root>